In [2]:
# Import Libraries and Dependencies
import pandas as pd
import matplotlib.pyplot as plt

### 1. Combine and Clean the Data
#### Import CSVs

In [13]:
# Read the CSV files into DataFrames.

df_2020 = pd.read_csv("C:/Users/dearj/Downloads/M5_Starter_Code/Starter_Code/Resources/athletic_sales_2020.csv")

df_2021 = pd.read_csv("C:/Users/dearj/Downloads/M5_Starter_Code/Starter_Code/Resources/athletic_sales_2021.csv")

In [14]:
# Display the 2020 sales DataFrame
print("2020 Data Sample:")
display(df_2020.head())

2020 Data Sample:

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [15]:
# Display the 2021 sales DataFrame
print("2021 Data Sample:")
display(df_2021.head())

2021 Data Sample:

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online

#### Check the data types of each DataFrame

In [17]:
# Check the 2020 sales data types.
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1297 entries, 0 to 1296
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          1297 non-null   object
 1   retailer_id       1297 non-null   int64
 2   invoice_date      1297 non-null   object
 3   region            1297 non-null   object
 4   state             1297 non-null   object
 5   city              1297 non-null   object
 6   product           1297 non-null   object
 7   price_per_unit    1297 non-null   int64
 8   units_sold        1297 non-null   int64
 9   total_sales       1297 non-null   int64
 10  operating_profit  1297 non-null   float64
 11  sales_method      1297 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 121.7+ KB

In [18]:
# Check the 2021 sales data types.
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8346 entries, 0 to 8345
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          8346 non-null   object
 1   retailer_id       8346 non-null   int64
 2   invoice_date      8346 non-null   object
 3   region            8346 non-null   object
 4   state             8346 non-null   object
 5   city              8346 non-null   object
 6   product           8346 non-null   object
 7   price_per_unit    8346 non-null   int64
 8   units_sold        8346 non-null   int64
 9   total_sales       8346 non-null   int64
 10  operating_profit  8346 non-null   float64
 11  sales_method      8346 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 782.6+ KB

#### Combine the sales data by rows.

In [21]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_df = pd.concat([df_2020, df_2021], axis=0).reset_index(drop=True)
print(combined_df.head())

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [22]:
# Check if any values are null.
print("Null values in combined data:")
print(combined_df.isnull().sum())

Null values in combined data:
retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [24]:
# Check the data type of each column
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1297 entries, 0 to 1296
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          1297 non-null   object
 1   retailer_id       1297 non-null   int64
 2   invoice_date      1297 non-null   object
 3   region            1297 non-null   object
 4   state             1297 non-null   object
 5   city              1297 non-null   object
 6   product           1297 non-null   object
 7   price_per_unit    1297 non-null   int64
 8   units_sold        1297 non-null   int64
 9   total_sales       1297 non-null   int64
 10  operating_profit  1297 non-null   float64
 11  sales_method      1297 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 121.7+ KB

In [26]:
# Convert the "invoice_date" to a datetime datatype
import pandas as pd
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

C:\Users\dearj\AppData\Local\Temp\ipykernel_10952\4016519770.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

In [27]:
# Confirm that the "invoice_date" data type has been changed.
print("Data types after conversion:")
print(combined_df.dtypes)

Data types after conversion:
retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
invoice_data        datetime64[ns]
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [30]:
# Show the number of products sold for region, state, and city.
region_sales = combined_df.groupby(['region', 'state', 'city']).agg({'units_sold': 'sum'}).reset_index()

# Rename the sum to "Total_Products_Sold".
region_sales.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)

# Show the top 5 results.
print(region_sales.head())

    region     state          city  Total_Products_Sold
0  Midwest  Illinois       Chicago                25407
1  Midwest   Indiana  Indianapolis                26332
2  Midwest      Iowa    Des Moines                23446
3  Midwest    Kansas       Wichita                29463
4  Midwest  Michigan       Detroit                50095

#### Using `pivot_table`

In [31]:
pivot_data = combined_df.pivot_table(
    values='units_sold', 
    index=['region', 'state', 'city'], 
    aggfunc='sum'
).reset_index()

# Rename the "units_sold" column to "Total_Products_Sold"
pivot_data.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)

# Show the top 5 results
print(pivot_data.sort_values(by='Total_Products_Sold', ascending=False).head(5))

       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [32]:
# Group data by region, state, and city, and aggregate the total sales
grouped_sales = combined_df.groupby(['region', 'state', 'city']).agg({'total_sales': 'sum'}).reset_index()

# Rename the "total_sales" column to "Total Sales"
grouped_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results sorted by "Total Sales"
top_sales = grouped_sales.sort_values(by='Total Sales', ascending=False).head(5)
print(top_sales)

       region           state           city  Total Sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

#### Using `pivot_table`

In [33]:
# Create a pivot table to calculate total sales for region, state, and city
pivot_sales = combined_df.pivot_table(
    values='total_sales',
    index=['region', 'state', 'city'],
    aggfunc='sum'
).reset_index()

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results sorted by "Total Sales"
top_sales = pivot_sales.sort_values(by='Total Sales', ascending=False).head(5)
print(top_sales)

       region           state           city  Total Sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [34]:
# Group data by retailer, region, state, and city, and aggregate the total sales
retailer_sales = combined_df.groupby(['retailer', 'region', 'state', 'city']).agg({'total_sales': 'sum'}).reset_index()

# Rename the "total_sales" column to "Total Sales"
retailer_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results sorted by "Total Sales"
top_retailer_sales = retailer_sales.sort_values(by='Total Sales', ascending=False).head(5)
print(top_retailer_sales)

        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

#### Using `pivot_table`

In [35]:
# Create a pivot table to calculate total sales for each retailer, region, state, and city
pivot_retailer_sales = combined_df.pivot_table(
    values='total_sales',
    index=['retailer', 'region', 'state', 'city'],
    aggfunc='sum'
).reset_index()

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_retailer_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results sorted by "Total Sales"
top_retailer_sales = pivot_retailer_sales.sort_values(by='Total Sales', ascending=False).head(5)
print(top_retailer_sales)

        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [36]:
# Filter the data to get rows containing "Women's Athletic Footwear" in the product column
womens_footwear_sales = combined_df[combined_df['product'].str.contains("Women's Athletic Footwear", case=False, na=False)]

# Display the first few rows of the filtered data
print(womens_footwear_sales.head())

       retailer  retailer_id invoice_date     region         state  \
21  Foot Locker      1185732   2020-01-04  Northeast      New York
22  Foot Locker      1185732   2020-01-04  Northeast      New York
23  Foot Locker      1185732   2020-01-04  Northeast      New York
26    West Gear      1128299   2020-01-05  Northeast  Pennsylvania
27    West Gear      1128299   2020-01-05  Northeast  Pennsylvania

            city                    product  price_per_unit  units_sold  \
21      New York  Women's Athletic Footwear              36         281
22      New York  Women's Athletic Footwear              41         247
23      New York  Women's Athletic Footwear              45         850
26  Philadelphia  Women's Athletic Footwear              45         300
27  Philadelphia  Women's Athletic Footwear              34          90

    total_sales  operating_profit sales_method invoice_data
21        10116           3742.92       Outlet   2020-01-04
22        10127           4658.42       Online   2020-01-04
23       382500         133875.00     In-store   2020-01-04
26       135000          47250.00       Outlet   2020-01-05
27         3060           1254.60       Outlet   2020-01-05

#### Using `groupby`

In [38]:
# Group data by retailer, region, state, and city, and aggregate the total units sold
grouped_womens_footwear = womens_footwear_sales.groupby(['retailer', 'region', 'state', 'city']).agg({'units_sold': 'sum'}).reset_index()

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
grouped_womens_footwear.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results sorted by "Womens_Footwear_Units_Sold"
top_womens_footwear = grouped_womens_footwear.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)
print(top_womens_footwear)

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

#### Using `pivot_table`

In [39]:
# Create a pivot table to calculate the total number of units sold for each retailer, region, state, and city
pivot_womens_footwear = womens_footwear_sales.pivot_table(
    values='units_sold',
    index=['retailer', 'region', 'state', 'city'],
    aggfunc='sum'
).reset_index()

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pivot_womens_footwear.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results sorted by "Womens_Footwear_Units_Sold"
top_womens_footwear = pivot_womens_footwear.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)
print(top_womens_footwear)

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [48]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
sales_pivot = combined_df.pivot_table(
    values='total_sales',
    index='invoice_date',
    aggfunc='sum'
)

# Optional: Rename the "total_sales" column to "Total Sales"
sales_pivot.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Display the pivot table
print(sales_pivot)

              Total Sales
invoice_date
2020-01-01         845141
2020-01-02         689410
2020-01-03         632573
2020-01-04         615080
2020-01-05         707829
...                   ...
2021-12-27         602353
2021-12-28         301010
2021-12-29         211109
2021-12-30         167903
2021-12-31         198659

[723 rows x 1 columns]

In [50]:
# Resample the pivot table into daily bins and calculate total sales for each day
daily_sales = sales_pivot.resample('D').sum()

# Sort the daily sales in descending order by "Total Sales"
daily_sales.sort_values(by='total_sales', ascending=False, inplace=True)

# Display the sorted results
print(daily_sales)

KeyError: 'total_sales'

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [51]:
# Resample the pivot table into weekly bins and calculate total sales for each week
weekly_sales = sales_pivot.resample('W').sum()

# Sort the weekly sales in descending order by "Total Sales"
sorted_weekly_sales = weekly_sales.sort_values(by='Total Sales', ascending=False)

# Display the sorted results
print(sorted_weekly_sales)

              Total Sales
invoice_date
2021-07-11       26271380
2021-07-18       24731702
2021-12-19       24698535
2021-12-12       23250286
2021-08-22       22225401
...                   ...
2020-11-22         927605
2020-12-06         739673
2020-12-20         590227
2020-12-13         466322
2020-10-18         251468

[105 rows x 1 columns]